%li= link_to "Новый тип помощи", new_admin_help_type_path, :class => "btn primary"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Все семьи, которым оказыались отмеченные типы помощи, будут удалены!'
