%li= link_to "Поиск по семьям", search_families_path, :class => "btn primary"
%li= link_to "Поиск по помощи", search_family_helps_path(family_helps: true), :class => "btn primary"
%li= link_to "Поиск по визитам", search_visits_path(visits: true), :class => "btn primary"
