%li= link_to "Новая нужная вещь", new_admin_necessity_path, :class => "btn primary"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Все семьи, которым оказыались отмеченные типы помощи, будут удалены!'
