= form_tag delete_multiple_path, :id => "delete_multiple" do
  %input(type="hidden" name="model" value="Families")
  = render 'families/table'
  = submit_tag "Удалить отмеченные", :class => "btn error"
- if params[:q]
  = link_to "Полный список семей", families_path, :class => "btn info"
