%li= link_to "Новый коэффициент", new_admin_group_option_path, :class => "btn primary"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Все семьи, у которых есть отмеченные коэффициенты, будут удалены!'
