%h3 Условия
.field.multiparam_field
  = f.label :priority_between, "Приоритет от и до"
  = f.multiparameter_field :priority_between, {:field_type => :number_field, min:0}, {:field_type => :number_field, min:0}, :size => 5
- Group.for_families.each do |gr|
  .field
    = f.label gr.name
    = f.select :group_options_id_in, gr.group_options.collect {|go| [go.name, go.id]}, include_blank: true
