%li= link_to "Новый расшир. поиск", search_path, :class => "btn primary"
%li= link_to "Назад к списку семей", families_path, :class => "btn info"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Вы уверены, что хотите удалить отмеченные семьи?'
