          .family-name-title
  .family-name Семья Эсмековых
  .family-coeff
    %a(href="#")10
.family-main-info
  .info-block
    .info-block-title Прикрепленые волонтеры
    .info-block-body
      .info
        .info-name
          %span me@example.com
        .info-value
          %a(href="#") Открепить
  .info-block
    .info-block-title Контактные данные
    .info-block-body
      .info
        .info-name
          %span Адрес
        .info-value Каспийск, ул. Ленина, д. 11, кв 2
      .info
        .info-name
          %span Телефон
        .info-value 89032222222
  .info-block
    .info-block-title Члены семьи
    .info-block-body
      .info
        .info-name
          %span Отец
        .info-value Вартан Гургенович
      .info
        .info-name
          %span Мать
        .info-value Тамара Васильевна
      .info
        .info-name
          %span Дети
        .info-value Артур Вартанович, Гаянэ Вартановна
      .info
        .info-name
          %span Опекун
        .info-value ---
