%li= link_to "Новая роль", new_admin_role_path, :class => "btn primary"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Вы действительно хотите удалить роли?'
