%li= link_to "Внести  новый фонд", new_admin_fund_path, :class => "btn primary"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Все семьи с отмеченных населенных пунктов будут также удалены!'
