%li= link_to "Новая настройка", new_admin_setting_path, :class => "btn primary"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Удаление настроек крайне опасно!'
