@import "compass/css3";
.info-block{
  .info-block-title{
    padding: .8em 0 .6em;
    font-size: 140%;
  }
  .info-block-body{
    .info{
      .info-name{
        width: 600px;
        @include inline-block;
        background: url(/assets/images/info_dot.gif) repeat-x 100% .9em;
        padding: 0 10px 0 0;

        span{
          background: white;
        }
      }
      .info-value{
        @include inline-block;
      }
    }
  }
}


.info-title{
  font-size: 188%;
  .info-name{
    width: 300px;      
    @include inline-block;
  }
  .family-coeff{
    a{
      @include inline-block;
    }
    @include inline-block;
  }  
}