%li= link_to "Новая группа коэфф.", new_admin_group_path, :class => "btn primary"
%li#delete_marked= link_to "Удалить отмеченные", "#", :class => "btn error", :confirm => 'Все коэффициенты, принадлежащие отмеченным группам, а также все семьи, у которых есть удяляемые коэффициенты, будут удалены!'
